{% extends "main.html" %}

{% block tabs %}
{{ super() }}
{% if page.file.src_uri == "index.md" %}
<style>
  .md-sidebar--primary,
  .md-sidebar--secondary,
  .md-main {
    display: none;
  }

  .md-header__title {
    display: block;
  }

  .mdx-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .mdx-hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
  }
  
  .mdx-hero:hover .mdx-hero-image {
    transform: scale(1.05);
  }

  .mdx-hero-title {
    position: relative;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    z-index: 4;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }

  .mdx-hero-subtitle {
    position: relative;
    color: white;
    padding: 5px 20px;
    font-size: 0.9rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    z-index: 4;
    margin-bottom: 1.5rem;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  .mdx-hero-button,
  .mdx-hero-repo-button {
    position: relative;
    color: white;
    font-size: 0.75rem;
    font-weight: normal;
    width: 160px;
    height: 65px;
    padding: 10px 0px 12px 35px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 4;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(63, 63, 63, 0.6);
    box-shadow: 
      0px 6px 12px rgba(0, 0, 0, 0.25),
      inset 0 0 0 0.75px rgba(255, 255, 255, 0.2),
      inset 0 0 0 1.5px rgba(255, 255, 255, 0.1);
  }

  .mdx-hero-button:hover,
  .mdx-hero-repo-button:hover {
    color: white;
    transform: translateY(-3px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.15);
  }

  .mdx-hero-button svg {
    fill: white;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }

  .mdx-hero-repo-button svg {
    fill: white;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }

  .mdx-hero-button::before,
  .mdx-hero-repo-button::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 50%;
    z-index: 2;
    transition: background-color 0.3s ease;
  }

  .mdx-hero-button:hover::before,
  .mdx-hero-repo-button:hover::before {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .mdx-hero-button:hover svg {
    fill: #007bff;
  }
  .mdx-hero-repo-button:hover svg {
    fill: #b14aff;
  }

  .mdx-hero-container {
    position: relative;
    display: inline-block;
    padding: 50px 60px;
    text-align: center;
  }

  .mdx-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    z-index: 1;
    transition: all 0.3s ease;
    border: 0.5px solid rgba(63, 63, 63, 0.6);
    box-shadow: 
      0px 6px 12px rgba(0, 0, 0, 0.25),
      inset 0 0 0 0.75px rgba(255, 255, 255, 0.2),
      inset 0 0 0 1.5px rgba(255, 255, 255, 0.1);
  }
  
  .mdx-hero-container:hover .mdx-hero-bg {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
  }

  .mdx-hero-buttons {
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding-top: 10px;
  }

</style>
<section class="mdx-hero">

  <img id="hero-image" class="mdx-hero-image" alt="Hero Image">

  <div class="mdx-hero-container">
    <div class="mdx-hero-bg"></div>
    <div class="mdx-hero-title">Anderson_Yang's Personal Website</div>
    <div class="mdx-hero-subtitle">A showcase of my personal projects, courses, and essays.</div>
    
    <div class="mdx-hero-buttons">
      <a href="lessons/" class="mdx-hero-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.7871 20.9277">
          <path d="M2.99805 20.9277L15.6445 20.9277C16.0742 20.9277 16.4258 20.5859 16.4258 20.1465C16.4258 19.8047 16.1914 19.502 15.8789 19.3945C14.6484 18.9062 14.3945 17.3145 15.6055 16.0938C15.9766 15.7227 16.4258 15.2441 16.4258 14.2676L16.4258 3.06641C16.4258 1.03516 15.4199 0 13.3984 0L3.02734 0C1.00586 0 0 1.02539 0 3.06641L0 17.9102C0 19.9219 1.01562 20.9277 2.99805 20.9277ZM3.08594 19.3555C2.09961 19.3555 1.57227 18.8281 1.57227 17.9004C1.57227 17.0215 2.19727 16.4551 3.17383 16.4551L13.1934 16.4551C13.3203 16.4551 13.4375 16.4453 13.5352 16.4258C13.0762 17.4414 13.1543 18.5156 13.6719 19.3555ZM2.79297 14.9707C2.49023 14.9707 2.23633 14.7168 2.23633 14.4043L2.23633 2.07031C2.23633 1.75781 2.49023 1.51367 2.79297 1.51367C3.0957 1.51367 3.35938 1.75781 3.35938 2.07031L3.35938 14.4043C3.35938 14.7168 3.0957 14.9707 2.79297 14.9707Z"/>
        </svg>
          Documents
      </a>

      <a href="https://github.com/Github-Anderson/Github-Anderson.github.io" class="mdx-hero-repo-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
          <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6m-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3m44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8z"/>
        </svg>
          Repository
      </a>
    </div>
      
  </div>
</section>

<script>
  const imageCount = 6;

  const randomIndex = Math.floor(Math.random() * imageCount);
  const imageNumber = (randomIndex + 1).toString().padStart(2, '0');
  const randomImage = `assets/wallpapers/${imageNumber}.jpg`;

  document.getElementById('hero-image').src = randomImage;
  
  function preloadImages() {
    for (let i = 1; i <= imageCount; i++) {
      const img = new Image();
      const num = i.toString().padStart(2, '0');
      img.src = `assets/wallpapers/${num}.jpg`;
    }
  }
  
  window.addEventListener('load', preloadImages);
</script>

{% endif %}
{% endblock %}