# [Info]
site_name: Anderson_Yang's Personal Site
site_url: https://Github-Anderson.github.io
site_author: Anderson_Yang
site_description: Anderson_Yang's Personal Site

# [UI]
theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: blue
      primary: white
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      primary: black
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to system default
      
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - navigation.path
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit
    - content.tooltips
    - navigation.footer

  language: en
  icon:
    logo: octicons/terminal-16
    repo: fontawesome/brands/github
  favicon: assets/icon/terminal-16-dark.ico

edit_uri: edit/main/docs/
repo_url: https://github.com/Github-Anderson/Github-Anderson.github.io
repo_name: Github-Anderson.github.io
copyright: Copyright &copy; Anderson_Yang

extra:
  analytics: 
    comments: true
    # feedback:
    #   title: Is this page helpful?
    #   ratings:
    #     - icon: material/emoticon-happy-outline
    #       name: Yes
    #       data: 1
    #       note: I'm glad I could help!
    #     - icon: material/emoticon-sad-outline
    #       name: No
    #       data: 0
    #       note: Thanks for your feedback! <a href="https://github.com/Github-Anderson/Github-Anderson.github.io/issues" target="_blank" rel="noopener">I'm mad</a>

  social: # icons
    - name: GitHub
      icon: fontawesome/brands/github
      link: https://github.com/Github-Anderson
    - name: Bilibili
      icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/24705427
    - name: Mail
      icon: material/email
      link: mailto:aytoolman@outlook.com
    - name: RSS
      icon: material/rss
      link: feed_rss_created.xml

  # consent:
  #   actions:
  #     - manage
  #     - accept
  #     - reject
  #   analytics: false
  #   title: Cookie Consent
  #   description: This website uses cookies to enhance the user experience.
  
  status:
    featured: Featured
    ongoing: In Progress

  template:
    home: overrides/home.html



plugins:
  - search:
      lang:
        - zh
        - en
        - ja
  
  # - tags

  # - social

  - git-revision-date-localized:
      # fallback_to_build_date: false
      enable_creation_date: true
      exclude:
        - index.md
        - essay/index.md
        - blog/index.md
        - lessons/index.md
        - about/index.md
      type: timeago

  - rss:
        match_path: "blog/.*"
        date_from_meta:
          as_creation: date.created
          as_update: date.updated

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true
  - abbr
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight:
      # linenums: true
      auto_title: true
      anchor_linenums: true
      line_spans: __span
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - footnotes

extra_javascript:
  # - mkdocs/javascripts/mathjax.js
  # - https://polyfill.io/v3/polyfill.min.js?features=es6
  # - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  
  - mkdocs/javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
  
  # - mkdocs/javascripts/feedback.js
  - 'https://utteranc.es/client.js'
  # - mkdocs/javascripts/comment.js
  - mkdocs/javascripts/favicon-theme.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  # - mkdocs/css/no-footer.css
  - mkdocs/css/unordered-list-symbols.css
  # - mkdocs/css/classic.css
  - mkdocs/css/extra.css

# [Navigtion]
nav:
  - Blog:
    - blog/index.md
    - Material for MkDocs:
      - blog/mkdocs/first.md
      - blog/mkdocs/extra.md
    - Misc:
      - blog/other/env.md
      # - blog/other/tips.md
      - blog/other/markdown.md
      - blog/other/cs2onmac.md
      # - blog/other/bili.md
  - Lessons:
    - lessons/index.md
    - 信息科技导论 SI100B:
      - lessons/SI100B/SI100B-report.md
      - lessons/SI100B/fb.md
    - 数学分析 I & II GEMA1009 & 10:
      - lessons/GEMA10XX/links.md
      - lessons/GEMA10XX/int.md
      - lessons/GEMA10XX/int-application.md
      - lessons/GEMA10XX/ode.md
      - lessons/GEMA10XX/dint.md
      - lessons/GEMA10XX/iint.md
      - lessons/GEMA10XX/oint.md
      - lessons/GEMA10XX/fourier.md
      - lessons/GEMA10XX/int-infty.md
    - 线性代数 I MATH1112:
      - lessons/MATH1112/links.md
      - lessons/MATH1112/ele.md
    - 设计思维 ARTS1701:
      - lessons/ARTS1701/main.md
      # - blog/ARTS1701/notes.md
    - 离散数学 SI120:
      - lessons/SI120/index.md
      - lessons/SI120/code.md
      - lessons/SI120/chsh.md
    - 中华文明通论 GEHA1050:
      - lessons/GEHA1050/notes.md
    - 现代计算机图形学入门 GAMES101:
      - lessons/GAMES101/env.md
      - lessons/GAMES101/overview.md
      - lessons/GAMES101/review-la.md
      - lessons/GAMES101/rasterization.md
      - lessons/GAMES101/geometry.md
      - lessons/GAMES101/ray-tracing.md
    - 算法与数据结构 CS101:
      - lessons/CS101/index.md
      - lessons/CS101/abt.md
      - lessons/CS101/algo-analysis.md
      - lessons/CS101/sorting.md
      - lessons/CS101/divide-and-conquer.md
      - lessons/CS101/greedy.md
      - lessons/CS101/graph.md
      - lessons/CS101/dp.md
      - lessons/CS101/pnp.md
    - 计算机体系结构 I CS110:
      - lessons/CS110/index.md
      - lessons/CS110/number.md
      - lessons/CS110/c.md
      - lessons/CS110/risc-v.md
      - lessons/CS110/call.md
      - lessons/CS110/circuit.md
      - lessons/CS110/pipeline.md
      - lessons/CS110/cache.md
      - lessons/CS110/parallelism.md
      - lessons/CS110/tlp.md
      - lessons/CS110/os.md
      - lessons/CS110/vm.md
    - 人工智能 I CS181:
      - lessons/CS181/index.md
      - lessons/CS181/search.md
      - lessons/CS181/csp.md
      - lessons/CS181/adversarial-search.md
      - lessons/CS181/logic.md
      - lessons/CS181/bayesian-nets.md
      - lessons/CS181/probabilistic-temporal-models.md
      - lessons/CS181/markov-decision.md
      - lessons/CS181/reinforcement.md
    - 机器学习引论 CS182:
      - lessons/CS182/index.md
      - lessons/CS182/superivsed-classification.md
      - lessons/CS182/regression.md
      - lessons/CS182/feature-engineering.md
    - Introduction to Computer System CS 340:
      - lessons/CS340/index.md
    - System Programming CS 341:
      - lessons/CS341/index.md
    - Applied Machine Learning CS 441:
      - lessons/CS441/index.md
  - Essays:
    - essay/index.md
    - Articles:
      - essay/thoughts/230828-from-mac-to-mac.md
      - essay/thoughts/231002-refl-online.md
    # - Logs:
    #   - essay/logs/240127.md
    #   - essay/logs/240206.md
    #   - essay/logs/240303.md
    #   - essay/logs/240420.md
  - About:
    - about/index.md
    # - about/me.md
    - about/contact.md
