# [Info]
site_name: Anderson_Yang 的个人网站
site_url: https://Github-Anderson.github.io
site_author: Anderson_Yang
site_description: Anderson_Yang 的个人网站

# [UI]
theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: 切换至日间模式

    - media: "(prefers-color-scheme: light)"
      scheme: dsefault
      accent: blue
      primary: white
      toggle:
        icon: material/toggle-switch-off-outline
        name: 切换至暗黑模式

    - media: "(prefers-color-scheme: dark)"
      primary: black
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: 切换至系统默认
      
  features:
    # 使用 Tab 来进行分类
    - navigation.tabs
    # 返回顶部的按钮，在上滑时出现
    - navigation.top
    # 给每个 Tab 添加一个 index.md，且在点击 Tab 时打开
    - navigation.indexes
    # 打开 Tab 时左侧目录全部展开
    # - navigation.expand
    # 搜索输入一些字母时推荐补全整个单词
    - search.suggest
    # 搜索的关键词文章加入高亮
    - search.highlight
    # 可以通过按钮复制代码
    - content.code.copy
    # [点击按钮跳转至 GitHub 修改 Markdown 源文件]
    - content.action.edit
    - content.tooltips
    - navigation.footer

  language: zh # 一些提示性的文字会变成中文
  icon:
    logo: octicons/terminal-16
    # [添加 GitHub 仓库]
    repo: fontawesome/brands/github
  favicon: assets/icon/favicon.ico
  
# [点击按钮跳转至 GitHub 修改 Markdown 源文件]
edit_uri: edit/main/docs/
# [GitHub 仓库]
repo_url: https://github.com/Github-Anderson/Github-Anderson.github.io
repo_name: Github-Anderson.github.io
# [版权说明]
copyright: Copyright &copy; Anderson_Yang

extra:
  analytics: 
    # [评论区]
    comments: true
    # [文章末尾表情反馈]
    # feedback:
    #   title: 这篇文章有用吗？
    #   ratings:
    #     - icon: material/emoticon-happy-outline
    #       name: 有用！
    #       data: 1
    #       note: 很高兴能帮到你！
    #     - icon: material/emoticon-sad-outline
    #       name: 需要改善
    #       data: 0
    #       note: 感谢反馈！我会尽量改善此页面！<a href="https://github.com/Github-Anderson/Github-Anderson.github.io/issues" target="_blank" rel="noopener">我要吐槽</a>

  # [社交网络图标和链接]
  social: # icons
    - name: GitHub
      icon: fontawesome/brands/github
      link: https://github.com/Github-Anderson
    - name: Bilibili
      icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/24705427
    - icon: material/email
      link: mailto:aytoolman@outlook.com

  # consent:
  #   actions:
  #     - manage
  #     - accept
  #     - reject
  #   analytics: false
  #   title: Cookie 选项
  #   description: 我们使用 Cookies 来识别您的重复访问和偏好设置，以及衡量我们文档的有效性和用户是否找到他们正在搜索的内容。您的同意有助于我们改善我们的文档。
  
  status:
    star: 最近更新


plugins:
  # [搜索功能]
  - search:
      lang:
        - zh
        - en
        - ja
  
  # [给单篇文章添加标签]
  # - tags

  - git-revision-date-localized:
      # fallback_to_build_date: false
      enable_creation_date: true
      exclude:
        - index.md
        - essay/index.md
        - blog/index.md
        - lessons/index.md
        - about/index.md
      type: timeago

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  # [数学公式支持]
  - pymdownx.arithmatex:
      generic: true
  # [图片功能支持]
  - abbr
  - attr_list
  # [表情图标支持]
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  # [给标题添加链接]
  - toc:
      permalink: true # 固定标题位置为当前位置
  # [代码语法高亮]
  - pymdownx.highlight:
      # 显示行号
      # linenums: true
      # 显示编程语言名称
      auto_title: true
      anchor_linenums: true
      line_spans: __span
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  # [Markdown 提示]
  - admonition
  - pymdownx.details
  # [Markdown footnote 语法支持]
  - footnotes

extra_javascript:
  # [数学公式支持MathJax/KaTeX(JS)]
  # - mkdocs/javascripts/mathjax.js
  # - https://polyfill.io/v3/polyfill.min.js?features=es6
  # - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  
  - mkdocs/javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
  
  # [表情反馈模块]
  # - mkdocs/javascripts/feedback.js
  # [评论区支持]
  - 'https://utteranc.es/client.js'
  # - mkdocs/javascripts/comment.js
extra_css:
  # [数学公式支持(CSS)]
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  # [不使用底部的翻页]
  # - mkdocs/css/no-footer.css
  # [无序列表符号自定义]
  - mkdocs/css/unordered-list-symbols.css
  # [使用旧版注意标识]
  # - mkdocs/css/classic.css
  - mkdocs/css/extra.css

# [Navigtion]
nav:
  # - index.md
  - 博客:
    - blog/index.md
    - Visual Studio Code:
      - blog/code/env.md
      - blog/code/tips.md
    - MarkDown:
      - blog/md/markdown.md
    - Material for MkDocs:
      - blog/mkdocs/first.md
      - blog/mkdocs/extra.md
    - 杂七杂八的内容:
      - blog/other/cs2onmac.md
      # - blog/other/bili.md
  - 课程:
    - lessons/index.md
    - 信息科技导论 SI100B:
      - lessons/SI100B/SI100B-report.md
      - lessons/SI100B/fb.md
    - 数学分析 I & II GEMA1009 & 10:
      - lessons/GEMA10XX/links.md
      - lessons/GEMA10XX/int.md
      - lessons/GEMA10XX/int-application.md
      - lessons/GEMA10XX/ode.md
      - lessons/GEMA10XX/dint.md
      - lessons/GEMA10XX/iint.md
      - lessons/GEMA10XX/oint.md
      - lessons/GEMA10XX/fourier.md
      - lessons/GEMA10XX/int-infty.md
    - 线性代数 I MATH1112:
      - lessons/MATH1112/links.md
      - lessons/MATH1112/ele.md
    - 设计思维 ARTS1701:
      - lessons/ARTS1701/main.md
      # - blog/ARTS1701/notes.md
    - 离散数学 SI120:
      - lessons/SI120/links.md
      - lessons/SI120/code.md
      - lessons/SI120/chsh.md
    - 中华文明通论 GEHA1050:
      - lessons/GEHA1050/notes.md
    - 现代计算机图形学入门 GAMES101:
      - lessons/GAMES101/env.md
      - lessons/GAMES101/overview.md
      - lessons/GAMES101/review-la.md
      - lessons/GAMES101/rasterization.md
      - lessons/GAMES101/geometry.md
      - lessons/GAMES101/ray-tracing.md
    - 算法与数据结构 CS101:
      - lessons/CS101/abt.md
      - lessons/CS101/algo-analysis.md
  - 随笔:
    - essay/index.md
    - 文章:
      - essay/thoughts/230828-from-mac-to-mac.md
      - essay/thoughts/231002-refl-online.md
    - 记录:
      - essay/logs/240127.md
      - essay/logs/240206.md
      - essay/logs/240303.md
      - essay/logs/240420.md
  - 关于:
    - about/index.md
    # - about/me.md
    - about/contact.md
