:root {
    --md-primary-fg-color: #00b3ff;
    --md-primary-fg-color--light: #b7dbec;
    --md-primary-fg-color--dark: #034790;
    --md-status--featured: url('icons/star.svg');
    --md-status--ongoing: url('icons/update.svg');
}

body .katex-display {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1 !important;
}

.md-status--featured::after {
    mask-image: var(--md-status--featured);
    -webkit-mask-image: var(--md-status--featured);
}

.md-status--ongoing::after {
    mask-image: var(--md-status--ongoing);
    -webkit-mask-image: var(--md-status--ongoing);
}

.md-typeset summary {
    position: sticky;
    top: 48px;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(100px);
}

.md-header {
    box-shadow: none;
    transition: none;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
}

:root>* {
    --md-header-bg-color: rgba(255, 255, 255, 0.6);
}