:root {
    --md-primary-fg-color:        #00b3ff;
    --md-primary-fg-color--light: #b7dbec;
    --md-primary-fg-color--dark:  #034790;
}

body .katex-display {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 0.1 !important; /* 根据需要调整这个值 */
}
